[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_version = "3"

[packages]
"bs4" = "*"
requests = "*"
termcolor = "*"

[dev-packages]
"flake8" = "*"
mypy = "*"
types-setuptools = "*"
types-beautifulsoup4 = "*"
types-requests = "*"
types-termcolor = "*"
